_bmad
_bmad-outuput
.agent
.claude
.gemini
.opencode
.specify
"app .NET"

# Node
node_modules
dist
build
coverage

# Turborepo
.turbo

# Environment
.env
.env.local
.env.*.local

# IDEs
.vscode
.idea
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db