<connectionStrings>
  
  <!--<add name="LOCALHOST" connectionString="metadata=res://*/ModeloFastConsig.csdl|res://*/ModeloFastConsig.ssdl|res://*/ModeloFastConsig.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=50.57.201.136;initial catalog=FastConsigItaquaTeste;persist security info=True;user id =sa;password=vertrigo;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  
  <add name="LOCALHOST" connectionString="metadata=res://*/ModeloFastConsig.csdl|res://*/ModeloFastConsig.ssdl|res://*/ModeloFastConsig.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=casepartners.dyndns.info;initial catalog=FastConsigItaqua;persist security info=True;user id =sa;password=vertrigo;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="CASESERVER" connectionString="metadata=res://*/ModeloFastConsig.csdl|res://*/ModeloFastConsig.ssdl|res://*/ModeloFastConsig.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=casepartners.dyndns.info;initial catalog=FastConsigItaqua;persist security info=True;user id =sa;password=vertrigo;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="IPSMI" connectionString="metadata=res://*/ModeloFastConsig.csdl|res://*/ModeloFastConsig.ssdl|res://*/ModeloFastConsig.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=FastConsigIpsmi;persist security info=True;user id =sa;password=vertrigo;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="TREINAMENTO" connectionString="metadata=res://*/ModeloFastConsig.csdl|res://*/ModeloFastConsig.ssdl|res://*/ModeloFastConsig.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=FastConsigItaquaTeste;persist security info=True;user id =sa;password=vertrigo;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="ITAQUA" connectionString="metadata=res://*/ModeloFastConsig.csdl|res://*/ModeloFastConsig.ssdl|res://*/ModeloFastConsig.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=FastConsigItaqua;persist security info=True;user id =sa;password=vertrigo;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="SANTOAMANCIO" connectionString="metadata=res://*/ModeloFastConsig.csdl|res://*/ModeloFastConsig.ssdl|res://*/ModeloFastConsig.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=FastConsigSantoAmancio;persist security info=True;user id =sa;password=vertrigo;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="SAOMARCOS" connectionString="metadata=res://*/ModeloFastConsig.csdl|res://*/ModeloFastConsig.ssdl|res://*/ModeloFastConsig.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=FastConsigSaoMarcos;persist security info=True;user id =sa;password=vertrigo;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="FASTCONSIG" connectionString="metadata=res://*/ModeloFastConsig.csdl|res://*/ModeloFastConsig.ssdl|res://*/ModeloFastConsig.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=noserver;initial catalog=nobase;persist security info=True;user id =sa;password=vertrigo;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="WWW" connectionString="metadata=res://*/ModeloFastConsig.csdl|res://*/ModeloFastConsig.ssdl|res://*/ModeloFastConsig.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=noserver;initial catalog=nobase;persist security info=True;user id =sa;password=vertrigo;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  
  <add name="LOCALHOST_SEM_ENTITY" connectionString="Data Source=casepartners.dyndns.info;Initial Catalog=FastConsigItaqua;User Id=sa;Password=vertrigo;"/>  
  <add name="CASESERVER_SEM_ENTITY" connectionString="Data Source=casepartners.dyndns.info;Initial Catalog=FastConsigItaqua;User Id=sa;Password=vertrigo;"/>  
  <add name="IPSMI_SEM_ENTITY" connectionString="Data Source=localhost;Initial Catalog=FastConsigIpsmi;User Id=sa;Password=vertrigo;"/>  
  <add name="SANTOAMANCIO_SEM_ENTITY" connectionString="Data Source=localhost;Initial Catalog=FastConsigSantoAmancio;User Id=sa;Password=vertrigo;"/>  
  <add name="SAOMARCOS_SEM_ENTITY" connectionString="Data Source=localhost;Initial Catalog=FastConsigSaoMarcos;User Id=sa;Password=vertrigo;"/>  
  <add name="TREINAMENTO_SEM_ENTITY" connectionString="Data Source=localhost;Initial Catalog=FastConsigItaquaTeste;User Id=sa;Password=vertrigo;"/>  
  <add name="ITAQUA_SEM_ENTITY" connectionString="Data Source=localhost;Initial Catalog=FastConsigItaqua;User Id=sa;Password=vertrigo;"/>  
  
</connectionStrings>