 .BotaoEstiloGlobal TD
 {     
	padding:7px 0px 7px 7px; 
	text-align:center;     
 }
 
 #upPrincipal
 {
     padding-top:5px;
     
 }
 
.TextBoxDropDownEstilos  
{    
   width:326px;
   
}