.fg-button  
{
    outline: 0; 
    margin:0 4px 0 0; 
    padding: .4em 1em; 
    text-decoration:none !important; 
    cursor:pointer; 
    position: relative; 
    text-align: center; 
    zoom: 1; 
    overflow: visible; 
}

div.growlUI { background: url(../Scripts/jquery-theme/images/info.png) no-repeat; }
div.growlUI h1, div.growlUI h2 
{
	color: white; 
	padding: 5px 5px 5px 75px; 
	text-align: left;
	font-size:small;
}