.dxgvControl_Aqua_GridView,
.dxgvDisabled_Aqua_GridView
{
	border: Solid 1px #9F9F9F;
	font: 11px Tahoma;
	background-color: #F2F2F2;
	color: Black;
	cursor: default;
}
.dxgvDisabled_Aqua_GridView 
{
	color: Gray;
}
.dxgvControl_Aqua_GridView a 
{
	color: #5555FF;
}
.dxgvDisabled_Aqua_GridView a
{
	color: Gray;
}
.dxgvLoadingPanel_Aqua_GridView
{
	border: solid 1px #9F9F9F;
	background-color: #E3E3E1;
	font: 9pt Tahoma;
	color: #303030;
}
.dxgvLoadingPanel_Aqua_GridView td
{
	white-space: nowrap;
	text-align: center;
	padding: 12px;
}
.dxgvLoadingPanelStatusBar_Aqua_GridView
{
	background-color: Transparent;
	font: 9pt Tahoma;
}
.dxgvLoadingPanelStatusBar_Aqua_GridView td
{
	white-space: nowrap;
	text-align: center;
	padding: 0px 2px 0px 2px;
}
.dxgvFilterPopupWindow_Aqua_GridView
{
	color: Black;
	font: 9pt Tahoma;
	border: solid 1px #9f9f9f;
}
.dxgvFilterPopupItemsArea_Aqua_GridView
{
	color: Black;
	background-color: White;
}
.dxgvFilterPopupButtonPanel_Aqua_GridView
{
	font: 9pt Tahoma;
	background-color: #ededed;
	border: 1px solid #dcdcdc;
	border-left-width: 0px;
	color: Black;
}

.dxgvFilterPopupItem_Aqua_GridView td.dxgv,
.dxgvFilterPopupActiveItem_Aqua_GridView td.dxgv,
.dxgvFilterPopupSelectedItem_Aqua_GridView td.dxgv
{
	border-left: solid 1px white;    
	border-right: solid 1px white;    
	padding: 3px 2px 4px 3px;
	cursor: default;
	white-space: nowrap;
}
.dxgvFilterPopupActiveItem_Aqua_GridView
{
	background: #cfcfcf;
	color: Black;
}
.dxgvFilterPopupSelectedItem_Aqua_GridView
{
	background: #8D8D8D;
	color: White;
}

.dxgvTable_Aqua_GridView
{
	background-color: White;
	border: 0;
	border-collapse: separate!important;
	overflow: hidden;
	font: 9pt Tahoma;
	color: Black;
}
.dxgvInlineEditRow_Aqua_GridView,
.dxgvDataRow_Aqua_GridView
{
}
.dxgvInlineEditRow_Aqua_GridView td.dxgv
{
	border-bottom: Solid 1px #D3D3D3;
	border-right: Solid 1px #D3D3D3;
}
.dxgvDataRowAlt_Aqua_GridView
{
	background-color: #EDEDEB;
}
.dxgvFilterRow_Aqua_GridView 
{
	background-color: #E7E7E7;
}
.dxgvEditForm_Aqua_GridView 
{
	background-color: #F0F0F0;
}
.dxgvEditForm_Aqua_GridView td.dxgv
{
	border-bottom: Solid 1px #D3D3D3;
	padding: 8px 10px 10px;
}
.dxgvEditForm_Aqua_GridView td.dxgvIndentCell_Aqua_GridView
{
    background: #EDEDED;
	border-right: Solid 1px #CFCFCF;
	border-left: Solid 1px #CFCFCF;
	border-top: 0px;
}
.dxgvSelectedRow_Aqua_GridView
{
	background-color: #A0A0A0;
    color: White;
}
.dxgvFocusedRow_Aqua_GridView
{
	background-color: #8D8D8D;
    color: White;
}
.dxgvSelectedRow_Aqua_GridView .dxgvCommandColumn_Aqua_GridView a, 
.dxgvFocusedRow_Aqua_GridView .dxgvCommandColumn_Aqua_GridView a
{
    color: White;
}
.dxgvSelectedRow_Aqua_GridView .dxgvCommandColumn_Aqua_GridView a:hover, 
.dxgvFocusedRow_Aqua_GridView .dxgvCommandColumn_Aqua_GridView a:hover
{
    color: #F0F0F0;
}
.dxgvSelectedRow_Aqua_GridView .dxgvCommandColumn_Aqua_GridView a:visited, 
.dxgvFocusedRow_Aqua_GridView .dxgvCommandColumn_Aqua_GridView a:visited
{
    color: #F0F0F0;
}

.dxgvPreviewRow_Aqua_GridView
{
	background-color: #F5F5F5;
	color: #707070;
}
.dxgvDetailCell_Aqua_GridView,
.dxgvPreviewRow_Aqua_GridView td.dxgv,
.dxgvEmptyDataRow_Aqua_GridView td.dxgv
{
	padding: 20px 2px 20px 4px;
	border-bottom: Solid 1px #D3D3D3;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}
.dxgvPreviewRow_Aqua_GridView td.dxgv
{
	padding: 10px 10px 10px 15px;
}
.dxgvDetailCell_Aqua_GridView
{
	padding: 16px 18px;
}
.dxgvDetailRow_Aqua_GridView td.dxgvIndentCell_Aqua_GridView 
{
    padding-right: 0px;
    border-bottom: Solid 1px #D3D3D3;
}
.dxgvEmptyDataRow_Aqua_GridView
{
	color: Gray;
}
.dxgvEmptyDataRow_Aqua_GridView td.dxgv
{
    border-bottom: Solid 1px #CFCFCF;
	text-align: center;
}

.dxgvEditFormDisplayRow_Aqua_GridView td.dxgv,
.dxgvDataRow_Aqua_GridView td.dxgv,
.dxgvDataRowAlt_Aqua_GridView td.dxgv,
.dxgvSelectedRow_Aqua_GridView td.dxgv,
.dxgvFocusedRow_Aqua_GridView td.dxgv
{
	overflow: hidden;
	border-bottom: Solid 1px #CFCFCF;
	border-right: Solid 1px #CFCFCF;
	border-top: 0;
	border-left: 0;
	padding: 3px 6px 4px 6px;
}
.dxgvEditFormDisplayRow_Aqua_GridView
{
}
.dxgvEditFormDisplayRow_Aqua_GridView td.dxgv 
{
}
.dxgvEditFormDisplayRow_Aqua_GridView td.dxgvIndentCell_Aqua_GridView
{
    background: #EDEDED;
	border-right: Solid 1px #CFCFCF;
	border-left: Solid 1px #CFCFCF;
	border-top: 0px;
}

.dxgvEditingErrorRow_Aqua_GridView
{
	background-color: #FFC8C8;
	color: #FF0000;
}
.dxgvEditingErrorRow_Aqua_GridView td.dxgv
{
	white-space: pre-wrap;
	border-bottom: Solid 1px #D3D3D3;
	border-right: 0;
	border-top: 0;
	border-left: 0;
	padding: 6px 10px;
}

.dxgvFilterRow_Aqua_GridView td.dxgv
{
	border-bottom: Solid 1px #C1C1C1;
	border-right: Solid 1px #C1C1C1;
	border-top: 0;
	border-left: 0;
	padding: 2px;
	overflow: hidden;
}
.dxgvGroupRow_Aqua_GridView
{
	background-color: #EDEDED;
}
.dxgvFocusedGroupRow_Aqua_GridView
{
	background-color: #8D8D8D;
    color: White;
}
.dxgvGroupRow_Aqua_GridView td.dxgv,
.dxgvFocusedGroupRow_Aqua_GridView td.dxgv
{
	border: none 0;
	vertical-align: middle;
	white-space: nowrap;
	border-bottom: Solid 1px #D3D3D3;
	padding: 3px 6px 4px 6px;
}
.dxgvFocusedRow_Aqua_GridView td.dxgvIndentCell_Aqua_GridView,
.dxgvFocusedGroupRow_Aqua_GridView td.dxgvIndentCell_Aqua_GridView,
.dxgvSelectedRow_Aqua_GridView td.dxgvIndentCell_Aqua_GridView
{
	background-color: #EDEDED!important;  
	border-right: solid 1px #CFCFCF;
	border-left: solid 1px #CFCFCF;
	border-top: 0px;
}
.dxgvHeaderPanel_Aqua_GridView {
	background-color: #F9F9F9;
	color: Black;
	padding: 8px 6px;
	border-bottom: Solid 1px #9F9F9F;
}

.dxgvHeader_Aqua_GridView {
	cursor: pointer;
	white-space: nowrap;
	padding: 4px 6px 5px;
	border: Solid 1px #9F9F9F;
	background-color: #DCDCDC;
	overflow: hidden;
	font-weight: normal;
	text-align: left;	
}
.dxgvHeader_Aqua_GridView,
.dxgvHeader_Aqua_GridView table {
	color: Black;
	font: 9pt Tahoma;
}
.dxgvHeader_Aqua_GridView td {
	white-space: nowrap;
}
.dxgvHeader_Aqua_GridView a {
	color: #0d45b7;
}
.dxgvCustomization_Aqua_GridView, 
.dxgvPopupEditForm_Aqua_GridView
{
	width: 100%;
	padding: 0;
	margin: 0;
}
.dxgvGroupPanel_Aqua_GridView
{
	white-space: nowrap;
	font-size: 9pt;
	
	background-color: #EDEDED;
	color: #8D8D8D;
	border-bottom: Solid 1px #9F9F9F;
	padding: 7px 4px 8px 6px;
}
.dxgvFooter_Aqua_GridView
{
	background-color: #D7D7D7;
	white-space: nowrap;
}
.dxgvFooter_Aqua_GridView td.dxgv
{
	padding: 5px 6px 6px;
	border-bottom: Solid 1px #BCBCBC;
	border-right: 0;
}
.dxgvGroupFooter_Aqua_GridView
{
	background-color: #E0E0E0;
}
.dxgvGroupFooter_Aqua_GridView td.dxgv 
{
	white-space: nowrap;
}
.dxgvGroupFooter_Aqua_GridView td.dxgv 
{
    padding: 5px 4px 6px 6px;
    border-bottom: Solid 1px #CFCFCF;
    border-right: 0;
}
.dxgvDataRow_Aqua_GridView td.dxgvIndentCell_Aqua_GridView,
.dxgvGroupRow_Aqua_GridView td.dxgvIndentCell_Aqua_GridView,
.dxgvGroupFooter_Aqua_GridView td.dxgvIndentCell_Aqua_GridView
{
    background-color: #EDEDED;
	border-right: Solid 1px #CFCFCF;
	border-left: Solid 1px #CFCFCF;
	border-top: 0px;
}

.dxgvTitlePanel_Aqua_GridView, 
.dxgvTable_Aqua_GridView caption
{
    font-size: 15px;
	font-weight: normal;
	padding: 3px 3px 5px;
	text-align: center;	
	background-color: #ACACAC;
	color: White;
	border-bottom: Solid 1px #9F9F9F;
}
.dxgvLoadingDiv_Aqua_GridView
{
	background-color:Gray;	
	opacity: 0.01;	
	filter: alpha(opacity=1);
}
.dxgvStatusBar_Aqua_GridView
{
	border-top: Solid 1px #9F9F9F;
}
.dxgvStatusBar_Aqua_GridView tr.dxgv
{
	height: 20px;
}
.dxgvCommandColumn_Aqua_GridView
{
	padding: 2px;
}
.dxgvCommandColumn_Aqua_GridView a
{
	margin: 0 3px 0 0;
	color:  #0d45b7;
}
.dxgvCommandColumn_Aqua_GridView a:hover
{
	color:  #5494ea;
}
.dxgvCommandColumn_Aqua_GridView a:visited
{
	color:  #ab59a6;
}

.dxgvCommandColumnItem_Aqua_GridView
{
}
.dxgvEditFormTable_Aqua_GridView
{
	padding: 2px 6px 6px 4px;
	font: 11px Tahoma;
	color: Black;
}
.dxgvEditFormTable_Aqua_GridView a
{
    color: #0d45b7;

}
.dxgvEditFormTable_Aqua_GridView a:hover
{
    color: #5494ea;

}
.dxgvEditFormTable_Aqua_GridView a:visited
{
    color: #ab59a6;
}

.dxgvEditFormCaption_Aqua_GridView
{
	padding: 4px 4px 4px 10px; 
    white-space: nowrap;
}

.dxgvInlineEditCell_Aqua_GridView
{
	padding: 1px; 
}

.dxgvEditFormCell_Aqua_GridView
{
	padding: 4px; 
	border: 0;
}

.dxgvPagerTopPanel_Aqua_GridView
{	
}
.dxgvPagerBottomPanel_Aqua_GridView
{
}
.dxgvDetailButton_Aqua_GridView
{
}

.dxgvFilterBar_Aqua_GridView 
{
	border-top: solid 1px #9F9F9F;	
	background: #d4d4d4;
}
.dxgvFilterBar_Aqua_GridView a
{
	color: #394ea2;
	text-decoration: underline;		
}
.dxgvFilterBarCheckBoxCell_Aqua_GridView
{
	padding: 0 3px;
	padding-right: 7px;
}
.dxgvFilterBarImageCell_Aqua_GridView
{
	padding: 0 3px;
	padding-right: 1px;
	cursor: pointer;
}
.dxgvFilterBarExpressionCell_Aqua_GridView
{
	font-size: 9pt;
	padding: 5px 5px 8px 0;	
	white-space: nowrap;
}
.dxgvFilterBarClearButtonCell_Aqua_GridView
{
	font-size: 9pt;
	padding: 5px 6px 8px;
}
.dxgvFilterBuilderMainArea_Aqua_GridView 
{
	background: white;
	padding: 6px 2px;
} 
.dxgvFilterBuilderButtonArea_Aqua_GridView
{
	background: #ededed;
	border-top: solid 1px #cfcfcf;
	padding: 6px;
}

.dxgvDataRowHover_Aqua_GridView
{
	background: #cfcfcf;
	color: Black;
}


.dxgvControl_Aqua_GridView .dxpControl_Aqua_GridView td.dxpCtrl_Aqua_GridView, 
.dxgvDisabled_Aqua_GridView .dxpControl_Aqua_GridView td.dxpCtrl_Aqua_GridView,

.dxgvControl_Aqua_GridView .dxpLite_Aqua_GridView,
.dxgvDisabled_Aqua_GridView .dxpLite_Aqua_GridView
{
	padding-top: 4px;    
}

